* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #1f2424;
}

.main-container {
  margin: 0 auto;
  background: white;
  width: 1025px;
}

.header {
  background: #344eff;
  width: 100%;
  height: 253px;
}

.main {
  background: yellow;
  height: 450px;
}

.footer {
  background: #344eff;
  width: 100%;
  height: 72px;
}