/* GENERAL */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  min-height: 100%;
}

body {
  background: #1f2424;
}

.main-container {
  background: yellow;
  min-height: calc(100vh - 72px);
  margin: 0 auto;
  width: 1025px;
}

/* HEADER */
.header {
  background: #344eff;
  /* width: 100%; */
  height: 253px;
}

.header-container {
  background: rosybrown;
  height: 140px;
  width: 900px;
  margin: auto;
}

.header-container * {
  color: white;
}

.header-photo {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  float: left;
}

.header-title {
  width: 200px;
  height: 100px;
  background: tomato;
  float: left;
}

.header-contacts {
  width: 250px;
  height: 100px;
  background: red;
  float: left;
}

p > a {
  text-decoration: none;
  /* font-size: 46px; */
  opacity: 1;
}

p > a:hover {
  color: red;
}

.header-icon {
  width: 20px;
  height: 20px;
  float: left;
  margin-right: 10px;
}

.header-info {
  float: left;
}

.header-website {
  clear: both;
}

.header-phone {
  clear: both;
}

.main {
  /* background: yellow;
  height: 450px; */
}

.footer {
  background: #344eff;
  clear: both;
  height: 72px;
  position: fixed;
  bottom: 0;
  width: inherit;
}


.left {
  float: left;
  background: #FEFEFE;
  width: 100px;
}

.right {
  float: right;
  background: red;
  width: 100px;
}