/* GENERAL */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  min-height: 100%;
}

body {
  background: #1f2424;
}

.main-container {
  background: yellow;
  min-height: calc(100vh - 72px);
  margin: 0 auto;
  width: 1025px;
}

/* HEADER */
.header {
  background: #344eff;
  height: 253px;
}

.header-container {
  width: 1000px;
  margin: auto;
  padding-top: 50px;
}

.header-container * {
  color: white;
  text-decoration: none;
}

.header-photo {
  border-radius: 50%;
  width: 145px;
  height: 145px;
  float: left;
  margin-right: 20px;
}

.header-title {
  float: left;
  margin-right: 100px;
}

.header-name {
  font-size: 57px;
}

.header-profession {
  font-size: 30px;
}

.header-contacts {
  width: 388px;
  float: left;
  font-size: 27px;
}

.header-contacts * {
  margin-bottom: 8px;
}

p > a:hover {
  opacity: 0.7;
}

.header-icon {
  width: 20px;
  height: 20px;
  float: left;
  margin-right: 10px;
}

.header-info {
  float: left;
}

.header-website {
  clear: both;
}

.header-phone {
  clear: both;
}

/* MAIN */
.main {
  /* background: yellow;
  height: 450px; */
}


.left-wrapper {
  float: left;
  background: #FEFEFE;
  width: 347px;
}

.section-header {
  padding-top: 20px;
}

.section-image {
  float: left;
  background: blue;
  border-radius: 50%;
  margin-right: 10px;

}

.section-image-icon {
  margin: 14px;
  width: 30px;
}

.section-title {
  float: left;
  color: #B3A3A0A0;
  font-size: 34px;
  padding-top: 7px;
}

.section-content {
  clear: both;
  font-size: 23px;
  padding-top: 15px;
}

.interests-image {
  border: blue 8px solid;
  border-radius: 50%;
  float: left;
}

.interests-icon {
  width: 35px;
  height: 35px;
  padding: 5px;
}

.right-wrapper {
  float: right;
  background: red;
  width: 678px;
}


/* FOOTER */
.footer {
  background: #344eff;
  clear: both;
  height: 72px;
  position: fixed;
  bottom: 0;
  width: inherit;
}